body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.827);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
}

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(35, 84, 116);
}

#myHeader {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 70px;
    position: absolute;
    top: 30px;
    right: 5px;
  }

#myHeader:hover {
  color: rgb(35, 84, 116);
  }

h2 {
    color: rgb(255, 255, 255);
    font-size: 45px;
    position: absolute;
    top: 13em;
    left: 5px;
  }

  h2:hover {
    color: rgb(35, 84, 116);
    background: url("images/arrow.jpg") no-repeat
  }

img {
    z-index: -2;
  }
